body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}
.quiz-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}
.quiz-container h1 {
    text-align: center;
    margin-bottom: 15px;
}
.home {
    text-align: center;
}
.timer {
    font-family:'Courier New', Courier, monospace;
    font-size: 125%;
    text-align: center;
    margin-top: 25px;
}
.indicator {
    text-align: center;
    margin-top: 40px;
    opacity: 60%;
}
.subtract-time {
    opacity: 60%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 51%;
    top: 3%;
}
.timer-container {
    display: inline;
    margin: auto;
    text-align: center;
}
.quiz-end {
    text-align: center;
}
.score {
    font-size:  200%;
    font-weight: bold;
}